<p id="notice"><%= notice %></p>
<p>
  <strong><%= t "name" %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t"email" %>:</strong>
  <%= @user.email %>
</p>
<%= link_to t("edit_user"), edit_user_path(@user) %>
